---
title: О нас
outClass: inner
---
extends shared/_layout
block content

  // BREADCRUMBS :: START
  .breadcrumbs
    .container
      a(href='homepage.html') Главная
      a(href='#') Текущий пункт
  
  // TEXT PAGE :: START
  .text-page
    .container
      .row
        .col-md-6
          h1.text-page__title История создания
          div(data-teleport-target='about-img')
          .text-page__paragraph
            p Российская компания “ДиВэй” была основана в 2006 году. Под новой торговой маркой «DizzyWay» объединились талантливые дизайнеры и конструкторы, лаборанты и менеджеры, - профессионалы своего дела, много лет работающие в сфере производства верхней женской одежды.
            p Благодаря колоссальному опыту и высочайшему мастерству мы три раза в год создаем зимние, осенние и весенние коллекции стильных женских пальто, курток и плащей. Все одежда изготавливается нами из высококачественных тканей и современных утеплителей, гарантирующих ее покупателям максимальный комфорт и удобство при использовании в повседневной жизни и на отдыхе.
            p Сейчас у компании много далеко идущих планов и проектов. Недаром название нашей торговой марки в переводе с английского означает «головокружительный подъем». Мы настроены и дальше создавать новые коллекции одежды, удивляя и радуя своих покупателей разнообразием моделей, силуэтных форм, интересных деталей, фурнитуры и тканей. Мы укрепляем добрые деловые отношения с нашими постоянными партнерами и развиваем сотрудничество с новыми клиентами.
       
        .col-md-6.col-grow-child(js-teleport data-teleport-to='about-img' data-teleport-condition='<768')
          .img-holder
            img(img='src/aboutImg.jpg' srcset='img/aboutImg@2x.jpg 2x')
      
      
  include components/_discount
  +discount("discount--bottom")
