---
title: Банковские реквизиты
outClass: inner
---
extends shared/_layout
block content

  // BREADCRUMBS :: START
  .breadcrumbs
    .container
      a(href='homepage.html') Главная
      a(href='#') Текущий пункт
      
      .breadcrumbs__title Банковские реквизиты
  
  // TEXT PAGE :: START
  .text-page.text-page--no-pad
    .container
      .bank-info
        .bank-info__row
          .bank-info__head Краткое наименование:
          .bank-info__el ООО "Компания "ДиВэй"
        .bank-info__row
          .bank-info__head Полное наименование:
          .bank-info__el Общество с ограниченной ответственностью "Компания "ДиВэй"
        .bank-info__row
          .bank-info__head Юридический адрес:
          .bank-info__el 105062 г.Москва, Фурманный пер., д.24
        .bank-info__row
          .bank-info__head Фактический адрес:
          .bank-info__el 111024 г.Москва, ул.Авиамоторная, д.44, стр.1 (м.Авиамоторная) (территория бывшего таксомоторного парка).
            
        .bank-info__row
          .bank-info__head Адрес для корреспонденций:
          .bank-info__el 111024 г.Москва, ул.Авиамоторная, д.44, стр.1 ООО "Компания "ДиВэй"
        .bank-info__row
          .bank-info__head Телефон/факс:
          .bank-info__el 8(495)647-8901 (многоканальный), 8(495)796-0605
        .bank-info__row
          .bank-info__head ИНН:
          .bank-info__el 7701647328
        .bank-info__row
          .bank-info__head КПП:
          .bank-info__el 770101001
          
        .bank-info__row
          .bank-info__head ОГРН:
          .bank-info__el 1067746348372
        .bank-info__row
          .bank-info__head ОКПО:
          .bank-info__el 93354593
        .bank-info__row
          .bank-info__head ОКВЭД:
          .bank-info__el 14.13.22
        .bank-info__row
          .bank-info__head ОКТМО:
          .bank-info__el 45375000
        
        .bank-info__row
          .bank-info__head 
          .bank-info__el 
          
        .bank-info__row
          .bank-info__head Расчетный счет:
          .bank-info__el 40702810050160399701
        .bank-info__row
          .bank-info__head Банк:
          .bank-info__el ПАО «Промсвязьбанк», г.Москва
        .bank-info__row
          .bank-info__head Корр.счет:
          .bank-info__el 30101810400000000555
        .bank-info__row
          .bank-info__head БИК:
          .bank-info__el 044525555
            
      .bank-info__download  
        a(href="#").btn.btn-primary
          span Скачать .xls

      include components/_discount
      +discount("discount--bottom")
          
