---
title: Карточка товара 2
outClass: inner
---
extends shared/_layout
block content


  // BREADCRUMBS :: START
  .breadcrumbs
    .container
      a(href='homepage.html') Главная
      a(href='#') Каталог
      a(href='#') Осень/Весна
      a(href='#') Плащи утепленные

  // BREADCRUMBS :: END

  // Card :: START

  .card
    .container

      .card__nav
        a(href="#").card__nav-back &lt; Назад в каталог
        ul.card__nav-menu
          li
            a(href="#").card__nav-link &lt;
          li
            .card__nav-link 4
          li /
          li
            .card__nav-link 45
          li
            a(href="#").card__nav-link &gt;

      .row
        .col-md-7.col-lg-8

          // Gallery :: START
          .gallery(data-gallery)
            .gallery-slides(data-gallery-slides)
              .gallery-slides__item
                figure.gallery-slides__image
                  img(src='img/card-1-big.jpg')
                span.gallery-slides__zoom
                  +icon('ico-zoom')
              .gallery-slides__item
                figure.gallery-slides__image
                  img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                span.gallery-slides__zoom
                  +icon('ico-zoom')
              .gallery-slides__item
                figure.gallery-slides__image
                  img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                span.gallery-slides__zoom
                  +icon('ico-zoom')
              .gallery-slides__item
                figure.gallery-slides__image
                  img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
                span.gallery-slides__zoom
                  +icon('ico-zoom')
              .gallery-slides__item
                figure.gallery-slides__image
                  img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')
                span.gallery-slides__zoom
                  +icon('ico-zoom')

            .gallery-thumbs(data-gallery-thumbs)
              .gallery-thumbs__item
                img(src='img/card-1-big.jpg')
              .gallery-thumbs__item
                img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
              .gallery-thumbs__item
                img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
              .gallery-thumbs__item
                img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
              .gallery-thumbs__item
                img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')

          // Gallery :: END

        .col-md-5.col-lg-4

          h1.card__heading Парка "Сандрин"

          ul.card__info
            li <mark>Артикул:</mark> 12345 6789
            li <mark>Коллекция:</mark> <a href="#" class="link-dark">Осень-Зима 2017</a>
          
          .card__price
              p.card__price-text 11 999 ₽ <small>Максимальная оптовая цена</small>
              //- .card__price-link
              //-   +icon('ico-commerce')
              //-   u Показать оптовую цену

          .card__colors
            p.card__colors-text <mark>Цвет:</mark> <span data-color-selected>Красно-бордовый</span>
            .card__colors-group

              .card__colors-item(data-color="Красно-бордовый")
                img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')

              .card__colors-item(data-color="Красный")
                img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')

              .card__colors-item(data-color="Бордовый")
                img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')

              .card__colors-item(data-color="")
                img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')

              .card__colors-item(data-color="Черный")
                img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')
          
          .card__size

            p.card__size-text Цвет/Размер:
        
            a(href="#", data-mfp-src="#popup-sizes", js-popup).card__size-link
              +icon('ico-size')
              u Таблица размеров
            
            .table-size-scroll
              table.table-size
                thead
                  tr
                    th
                      span.is-hide_mobile-s Размер/цвет:
                    th 42
                    th 44
                    th 46
                    th 48
                    th 50
                    th 52
                    th 54
                    th 56
                    th 58
                    th 60
                    th 62
                    th 64
                tbody
                  tr
                    td.bg-red
                      span.is-hide_mobile-s Серо-корич.
                    td.is-has
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td.is-few
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td -
                    td.is-has
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td -
                    td.is-few
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td.is-has
                      input(type="text" value="10")
                  tr
                    td.bg-green
                      span.is-hide_mobile-s Светло-зел.
                    td.is-has
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td.is-few
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td -
                    td.is-has
                      input(type="text" value="10")
                    td -
                    td -
                    td.is-few
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td.is-has
                      input(type="text")
                  tr
                    td.bg-brown
                      span.is-hide_mobile-s Коричневый
                    td.is-has
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td.is-few
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td -
                    td.is-has
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td -
                    td.is-few
                      input(type="text")
                    td.is-has
                      input(type="text")
                    td.is-has
                      input(type="text")
                    
          .card__ctrl
            a(href="#").btn.btn-primary
              span Добавить в корзину
            a(href="#").btn.btn-like
              u.btn-like-icon
                +icon('ico-like')
              | Добавить в список<br>желаний

          dl.card__details
            dt Информация о товаре:
            dd
              p Ветровка "Сандрин" прямого силуэта с втачными рукавами. Застежка - на тесьму «молния» с ветрозащитной планкой на кнопках
              ul
                li <mark>Вид застежки:</mark> Молния
                li <mark>Длина изделия:</mark> по спинке: 64 см
                li <mark>Длина рукава:</mark> Длинные
                li <mark>Покрой:</mark> прямой
                li <mark>Рисунок:</mark> без рисунка
                li <mark>Фактура материала:</mark> гладкий
                li <mark>Тип карманов:</mark> прорезные
                li <mark>Утеплитель:</mark> без утепления
                li <mark>Уход за вещами:</mark> химическая чистка разрешена
                li <mark>Назначение:</mark> повседневная
                li <mark>Опции капюшона:</mark> без капюшона
                li <mark>Опции опушки:</mark> без опушки
                li <mark>Сезон:</mark> демисезон
            dt Доставка
            dd Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Журчит прямо по всей вскоре инициал выйти всеми продолжил, коварный продолжил, свой подзаголовок речью реторический города жизни которое своих семантика, своих.
            dt Возврат
            dd Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Журчит прямо по всей вскоре инициал выйти всеми продолжил, коварный продолжил, свой подзаголовок речью реторический города жизни которое своих семантика, своих.
            dt Для оптовых клиентов
            dd Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Журчит прямо по всей вскоре инициал выйти всеми продолжил, коварный продолжил, свой подзаголовок речью реторический города жизни которое своих семантика, своих.
          

  // Card :: END

  // HOME GOODS :: START
  .goods-slider
    .container
      .title Вы смотрели
      
      .goods-slider__wrapper
        .goods-slider__slider.slick-arrows(js-slider data-slick-slides='6' data-slick-arrows="true" data-slick-infinite="true")
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-6.jpg' srcset='img/card-6@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-6.jpg' srcset='img/card-6@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
                  
                  


  // HOME GOODS :: START
  .goods-slider
    .container
      .title Возможно вам понравится
      
      .goods-slider__wrapper
        .goods-slider__slider.slick-arrows(js-slider data-slick-slides='6' data-slick-arrows="true" data-slick-infinite="true")
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-6.jpg' srcset='img/card-6@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-6.jpg' srcset='img/card-6@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
                  
                  
  .popup-dialog.popup-sizes.mfp-hide#popup-sizes
    .popup-sizes__title Таблица размеров
    .popup-sizes__content
      table.popup-sizes__table
        tr
          th Параметр
          th 42
          th 44
          th 46
          th 48
          th 50
          th 52
          th 54
          th 56
          th 58
          th 60
          th 62
          th 64
        tr
          td Обхват груди
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
        tr
          td Обхват бедер
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
        tr
          td Длина изделия на спинке
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
        tr
          td Длина рукава изделия
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124
          td 112-124