---
title: Каталог
outClass: inner
---
extends shared/_layout
block content

  // BREADCRUMBS :: START
  .breadcrumbs
    .container
      a(href='homepage.html') Главная
      a(href='#') Каталог
      a(href='#') Осень/Весна
      a(href='#') Плащи утепленные
  
  // CATALOG :: START
  .catalog
    .container
      .catalog__wrapper

        .catalog__sidebar
          

          // Filter :: START

          .filter
            form(action="#")

              button.filter__toggle Показать фильтр

              .filter__dropdown

                .filter-group

                  .filter-group__btn Категория

                  .filter-group__content

                    .filter__title.open#catalog-winter
                      button.btn.filter__arrow-btn(data-toggle-class="open" data-toggle-class-element="#catalog-winter")
                      a(href="#") Зима
                    ul.filter__menu
                      li
                        a(href="#").filter__link Пальто 
                      li
                        a(href="#").filter__link Куртки / Парки
                      li
                        a(href="#").filter__link Юбки / Брюки
                      li
                        a(href="#").filter__link Аксессуары

                    .filter__title.open#catalog-spring
                      button.btn.filter__arrow-btn(data-toggle-class="open" data-toggle-class-element="#catalog-spring")
                      a(href="#") Осень / Весна
                    ul.filter__menu
                      li
                        a(href="#").filter__link Плащи утепленные
                      li
                        a(href="#").filter__link Куртки / Парки
                      li
                        a(href="#").filter__link Пальто демисезонные
                      li
                        a(href="#").filter__link Плащи / Ветровки
                      li
                        a(href="#").filter__link Аксессуары

                    .filter__title.open#catalog-summer
                      button.btn.filter__arrow-btn(data-toggle-class="open" data-toggle-class-element="#catalog-summer")
                      a(href="#") Лето
                    ul.filter__menu
                      li
                        a(href="#").filter__link Платья / Комбинезоны
                      li
                        a(href="#").filter__link Блузы / Жакеты
                      li
                        a(href="#").filter__link Юбки
                      li
                        a(href="#").filter__link Брюки


                .filter-group

                  .filter-group__btn
                    | Цена
                  button.filter-group__reset
                    +icon('ico-close')

                  .filter-group__content
                    .ui-range
                      input(type="range", data-min="3000", data-max="25000").ui-range__input
                      .row
                        .col-6
                          label.ui-range__from 3000
                        .col-6
                          label.ui-range__to 25000


                .filter-group

                  .filter-group__btn
                    | Размер
                  button.filter-group__reset
                    +icon('ico-close')

                  .filter-group__content
                    
                    .row
                      .col-4
                        label.filter-check
                          input(type="checkbox", name="").filter-check__input
                          span.filter-check__checkbox
                          span.filter-check__text 42
                        label.filter-check
                          input(type="checkbox", name="").filter-check__input
                          span.filter-check__checkbox
                          span.filter-check__text 44
                        label.filter-check
                          input(type="checkbox", name="").filter-check__input
                          span.filter-check__checkbox
                          span.filter-check__text 46
                        label.filter-check
                          input(type="checkbox", name="").filter-check__input
                          span.filter-check__checkbox
                          span.filter-check__text 48

                      .col-4
                        label.filter-check
                          input(type="checkbox", name="").filter-check__input
                          span.filter-check__checkbox
                          span.filter-check__text 50
                        label.filter-check
                          input(type="checkbox", name="").filter-check__input
                          span.filter-check__checkbox
                          span.filter-check__text 52
                        label.filter-check
                          input(type="checkbox", name="").filter-check__input
                          span.filter-check__checkbox
                          span.filter-check__text 54
                        label.filter-check
                          input(type="checkbox", name="").filter-check__input
                          span.filter-check__checkbox
                          span.filter-check__text 56

                      .col-4
                        label.filter-check
                          input(type="checkbox", name="").filter-check__input
                          span.filter-check__checkbox
                          span.filter-check__text 58
                        label.filter-check
                          input(type="checkbox", name="").filter-check__input
                          span.filter-check__checkbox
                          span.filter-check__text 60
                        label.filter-check
                          input(type="checkbox", name="").filter-check__input
                          span.filter-check__checkbox
                          span.filter-check__text 62
                        label.filter-check
                          input(type="checkbox", name="").filter-check__input
                          span.filter-check__checkbox
                          span.filter-check__text 64

                .filter-group

                  .filter-group__btn
                    | Сезон
                  button.filter-group__reset
                    +icon('ico-close')

                  .filter-group__content

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Осень

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Лето

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Весна

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Зима


                .filter-group

                  .filter-group__btn
                    | Коллекция
                  button.filter-group__reset
                    +icon('ico-close')

                  .filter-group__content

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Осень 2017

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Лето 2017

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Весна 2017

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Зима 2016

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Осень 2016

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Лето 2016

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Весна 2016

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Зима 2015

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Осень 2015
                

                .filter-group

                  .filter-group__btn Акции

                  button.filter-group__reset
                    +icon('ico-close')

                  .filter-group__content

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Новинки

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Распродажа

                    label.filter-check
                      input(type="checkbox", name="").filter-check__input
                      span.filter-check__checkbox
                      span.filter-check__text Уцененные

                
                .filter__ctrl
                  button(type="reset").btn.btn-block.btn-reset
                    span Сбросить фильтры

          // Filter :: End

          button(js-up).btn.btn-up Наверх
               

        .catalog__content

          .catalog__settings
            .row
              .col-lg-6
                h1.catalog__heading Плащи утепленные <small>152 товара</small>
                .pages
                  span.pages__text Страница:
                  a(href="#").pages__link 1
                  a(href="#").pages__link 2
                  a(href="#").pages__link 3
                  a(href="#").pages__link.is-active 4
                  a(href="#").pages__link 5
                  a(href="#").pages__link 6
                  a(href="#").pages__link 7
                  a(href="#").pages__link 8
                  a(href="#").pages__link 9
                  a(href="#").pages__link 10
                  a(href="#").pages__link 11
                  a(href="#").pages__link 12
                  a(href="#").pages__link 13
              .col-lg-6
                .sorting
                  span.sorting__text Сортировать:
                  .sorting__select
                    button.sorting__select-trigger
                      +icon('ico-sort')
                      | По артикулам (По убыванию)
                    .sorting__select-dropdown
                      a(href="#").sorting__select-option.is-active По артикулам (По убыванию)
                      a(href="#").sorting__select-option По артикулам (По возрастанию)
                      a(href="#").sorting__select-option По цене (По убыванию)
                      a(href="#").sorting__select-option По цене (По возрастанию)

                  
                .display
                  span.display__text Показывать:
                  a(href="#").display__link 20
                  | /
                  a(href="#").display__link.is-active 40
                  | /
                  a(href="#").display__link Все

              
          .row
            //card
            .col-xs-12.col-6.col-sm-4.col-md-4.col-lg-3
              .c-card(data-card)
                  .c-card__wrapper
                    .c-card__label.c-card__label_new
                      | Новинка
                    .c-card__ctrl
                      a(href="#", title="В корзину").c-card__ctrl-link
                        +icon('ico-cart')
                      a(href="#", title="В избранное").c-card__ctrl-link
                        +icon('ico-like')
                    //- button.c-card__prev Prev
                    //- button.c-card__next Next
                    .c-card__slides(data-card-slides)
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                    .c-card__thumbs(data-card-thumbs)
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                  
                  a(href='#').c-card__name Lora Cole
                  .c-card__category Куртка
                  .c-card__price 1 300 ₽
                  .c-card__size <b>Размеры:</b> 42, 44, 46, 48, 50, 52, 54, 56, 58 60, 62
                  button(data-mfp-src="#popup-fast", js-popup).c-card__view
                    | Быстрый просмотр
                    +icon('ico-eye')

            //card
            .col-xs-12.col-6.col-sm-4.col-md-4.col-lg-3
              .c-card(data-card)
                  .c-card__wrapper
                    .c-card__label.c-card__label_sale
                      | Распродажа
                    .c-card__ctrl
                      a(href="#", title="В корзину").c-card__ctrl-link
                        +icon('ico-cart')
                      a(href="#", title="В избранное").c-card__ctrl-link
                        +icon('ico-like')
                    .c-card__slides(data-card-slides)
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                    .c-card__thumbs(data-card-thumbs)
                      
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                  
                  a(href='#').c-card__name Lora Cole
                  .c-card__category Куртка
                  .c-card__price 1 300 ₽
                      span.c-card__price-old 2 000 ₽
                  .c-card__size <b>Размеры:</b> 42, 44, 46, 48, 50, 52, 54, 56, 58 60, 62
                  button(data-mfp-src="#popup-fast", js-popup).c-card__view
                    | Быстрый просмотр
                    +icon('ico-eye')

            //card
            .col-xs-12.col-6.col-sm-4.col-md-4.col-lg-3
              .c-card(data-card)
                  .c-card__wrapper
                    .c-card__label.c-card__label_soon
                      | Скоро в продаже
                    .c-card__ctrl
                      a(href="#", title="В корзину").c-card__ctrl-link
                        +icon('ico-cart')
                      a(href="#", title="В избранное").c-card__ctrl-link
                        +icon('ico-like')
                    .c-card__slides(data-card-slides)
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                    .c-card__thumbs(data-card-thumbs)
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                  
                  a(href='#').c-card__name Lora Cole
                  .c-card__category Куртка
                  .c-card__price 1 300 ₽
                  .c-card__size <b>Размеры:</b> 42, 44, 46, 48, 50, 52, 54, 56, 58 60, 62
                  button(data-mfp-src="#popup-fast", js-popup).c-card__view
                    | Быстрый просмотр
                    +icon('ico-eye')


            //card
            .col-xs-12.col-6.col-sm-4.col-md-4.col-lg-3
              .c-card(data-card)
                  .c-card__wrapper
                    .c-card__label.c-card__label_last
                      | Последний размер
                    .c-card__ctrl
                      a(href="#", title="В корзину").c-card__ctrl-link
                        +icon('ico-cart')
                      a(href="#", title="В избранное").c-card__ctrl-link
                        +icon('ico-like')
                    .c-card__slides(data-card-slides)
                      a(href='#').c-card__image
                        img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')

                    .c-card__thumbs(data-card-thumbs)
                      a(href='#').c-card__thumb
                        img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                  
                  a(href='#').c-card__name Lora Cole
                  .c-card__category Куртка
                  .c-card__price 1 300 ₽
                  .c-card__size <b>Размеры:</b> 42, 44, 46, 48, 50, 52, 54, 56, 58 60, 62
                  button(data-mfp-src="#popup-fast", js-popup).c-card__view
                    | Быстрый просмотр
                    +icon('ico-eye')

            //card
            .col-xs-12.col-6.col-sm-4.col-md-4.col-lg-3
              .c-card(data-card)
                  .c-card__wrapper
                    .c-card__ctrl
                      a(href="#", title="В корзину").c-card__ctrl-link
                        +icon('ico-cart')
                      a(href="#", title="В избранное").c-card__ctrl-link
                        +icon('ico-like')
                    .c-card__slides(data-card-slides)
                      a(href='#').c-card__image
                        img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')

                    .c-card__thumbs(data-card-thumbs)
                      a(href='#').c-card__thumb
                        img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                  
                  a(href='#').c-card__name Lora Cole
                  .c-card__category Куртка
                  .c-card__price 1 300 ₽
                  .c-card__size <b>Размеры:</b> 42, 44, 46, 48, 50, 52, 54, 56, 58 60, 62
                  button(data-mfp-src="#popup-fast", js-popup).c-card__view
                    | Быстрый просмотр
                    +icon('ico-eye')

            //card
            .col-xs-12.col-6.col-sm-4.col-md-4.col-lg-3
              .c-card(data-card)
                  .c-card__wrapper
                    .c-card__ctrl
                      a(href="#", title="В корзину").c-card__ctrl-link
                        +icon('ico-cart')
                      a(href="#", title="В избранное").c-card__ctrl-link
                        +icon('ico-like')
                    .c-card__slides(data-card-slides)
                      a(href='#').c-card__image
                        img(src='img/card-6.jpg' srcset='img/card-6@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')

                    .c-card__thumbs(data-card-thumbs)
                      a(href='#').c-card__thumb
                        img(src='img/card-6.jpg' srcset='img/card-6@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                  
                  a(href='#').c-card__name Lora Cole
                  .c-card__category Куртка
                  .c-card__price 1 300 ₽
                  .c-card__size <b>Размеры:</b> 42, 44, 46, 48, 50, 52, 54, 56, 58 60, 62
                  button(data-mfp-src="#popup-fast", js-popup).c-card__view
                    | Быстрый просмотр
                    +icon('ico-eye')

            //card
            .col-xs-12.col-6.col-sm-4.col-md-4.col-lg-3
              .c-card(data-card)
                  .c-card__wrapper
                    .c-card__ctrl
                      a(href="#", title="В корзину").c-card__ctrl-link
                        +icon('ico-cart')
                      a(href="#", title="В избранное").c-card__ctrl-link
                        +icon('ico-like')
                    //- button.c-card__prev Prev
                    //- button.c-card__next Next
                    .c-card__slides(data-card-slides)
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                    .c-card__thumbs(data-card-thumbs)
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                  
                  a(href='#').c-card__name Lora Cole
                  .c-card__category Куртка
                  .c-card__price 1 300 ₽
                  .c-card__size <b>Размеры:</b> 42, 44, 46, 48, 50, 52, 54, 56, 58 60, 62
                  button(data-mfp-src="#popup-fast", js-popup).c-card__view
                    | Быстрый просмотр
                    +icon('ico-eye')

            //card
            .col-xs-12.col-6.col-sm-4.col-md-4.col-lg-3
              .c-card(data-card)
                  .c-card__wrapper
                    .c-card__ctrl
                      a(href="#", title="В корзину").c-card__ctrl-link
                        +icon('ico-cart')
                      a(href="#", title="В избранное").c-card__ctrl-link
                        +icon('ico-like')
                    .c-card__slides(data-card-slides)
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                    .c-card__thumbs(data-card-thumbs)
                      
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                  
                  a(href='#').c-card__name Lora Cole
                  .c-card__category Куртка
                  .c-card__price 1 300 ₽
                  .c-card__size <b>Размеры:</b> 42, 44, 46, 48, 50, 52, 54, 56, 58 60, 62
                  button(data-mfp-src="#popup-fast", js-popup).c-card__view
                    | Быстрый просмотр
                    +icon('ico-eye')

            //card
            .col-xs-12.col-6.col-sm-4.col-md-4.col-lg-3
              .c-card(data-card)
                  .c-card__wrapper
                    .c-card__ctrl
                      a(href="#", title="В корзину").c-card__ctrl-link
                        +icon('ico-cart')
                      a(href="#", title="В избранное").c-card__ctrl-link
                        +icon('ico-like')
                    .c-card__slides(data-card-slides)
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                    .c-card__thumbs(data-card-thumbs)
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                  
                  a(href='#').c-card__name Lora Cole
                  .c-card__category Куртка
                  .c-card__price 1 300 ₽
                  .c-card__size <b>Размеры:</b> 42, 44, 46, 48, 50, 52, 54, 56, 58 60, 62
                  button(data-mfp-src="#popup-fast", js-popup).c-card__view
                    | Быстрый просмотр
                    +icon('ico-eye')

            //card
            .col-xs-12.col-6.col-sm-4.col-md-4.col-lg-3
              .c-card(data-card)
                  .c-card__wrapper
                    .c-card__ctrl
                      a(href="#", title="В корзину").c-card__ctrl-link
                        +icon('ico-cart')
                      a(href="#", title="В избранное").c-card__ctrl-link
                        +icon('ico-like')
                    .c-card__slides(data-card-slides)
                      a(href='#').c-card__image
                        img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')

                    .c-card__thumbs(data-card-thumbs)
                      a(href='#').c-card__thumb
                        img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
                  
                  a(href='#').c-card__name Lora Cole
                  .c-card__category Куртка
                  .c-card__price 1 300 ₽
                  .c-card__size <b>Размеры:</b> 42, 44, 46, 48, 50, 52, 54, 56, 58 60, 62
                  button(data-mfp-src="#popup-fast", js-popup).c-card__view
                    | Быстрый просмотр
                    +icon('ico-eye')

            //card
            .col-xs-12.col-6.col-sm-4.col-md-4.col-lg-3
              .c-card(data-card)
                  .c-card__wrapper
                    .c-card__ctrl
                      a(href="#", title="В корзину").c-card__ctrl-link
                        +icon('ico-cart')
                      a(href="#", title="В избранное").c-card__ctrl-link
                        +icon('ico-like')
                    .c-card__slides(data-card-slides)
                      a(href='#').c-card__image
                        img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')

                    .c-card__thumbs(data-card-thumbs)
                      a(href='#').c-card__thumb
                        img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-2.jpg' srcset='img/card-2@2x.jpg 2x')
                  
                  a(href='#').c-card__name Lora Cole
                  .c-card__category Куртка
                  .c-card__price 1 300 ₽
                  .c-card__size <b>Размеры:</b> 42, 44, 46, 48, 50, 52, 54, 56, 58 60, 62
                  button(data-mfp-src="#popup-fast", js-popup).c-card__view
                    | Быстрый просмотр
                    +icon('ico-eye')

            //card
            .col-xs-12.col-6.col-sm-4.col-md-4.col-lg-3
              .c-card(data-card)
                  .c-card__wrapper
                    .c-card__ctrl
                      a(href="#", title="В корзину").c-card__ctrl-link
                        +icon('ico-cart')
                      a(href="#", title="В избранное").c-card__ctrl-link
                        +icon('ico-like')
                    .c-card__slides(data-card-slides)
                      a(href='#').c-card__image
                        img(src='img/card-6.jpg' srcset='img/card-6@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
                      a(href='#').c-card__image
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')

                    .c-card__thumbs(data-card-thumbs)
                      a(href='#').c-card__thumb
                        img(src='img/card-6.jpg' srcset='img/card-6@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
                      a(href='#').c-card__thumb
                        img(src='img/card-3.jpg' srcset='img/card-3@2x.jpg 2x')
                  
                  a(href='#').c-card__name Lora Cole
                  .c-card__category Куртка
                  .c-card__price 1 300 ₽
                  .c-card__size <b>Размеры:</b> 42, 44, 46, 48, 50, 52, 54, 56, 58 60, 62
                  button(data-mfp-src="#popup-fast", js-popup).c-card__view
                    | Быстрый просмотр
                    +icon('ico-eye')
           

          .row
            .col-lg-6

              .pages
                span.pages__text Страница:
                a(href="#").pages__link 1
                a(href="#").pages__link 2
                a(href="#").pages__link 3
                a(href="#").pages__link.is-active 4
                a(href="#").pages__link 5
                a(href="#").pages__link 6
                a(href="#").pages__link 7
                a(href="#").pages__link 8
                a(href="#").pages__link 9
                a(href="#").pages__link 10
                a(href="#").pages__link 11
                a(href="#").pages__link 12
                a(href="#").pages__link 13

            .col-lg-6
             
              .display
                span.display__text Показывать:
                a(href="#").display__link 20
                | /
                a(href="#").display__link.is-active 40
                | /
                a(href="#").display__link Все     
    
  include components/_discount
  +discount

  // HOME GOODS :: START
  .goods-slider
    .container
      .title Вы смотрели
      
      .goods-slider__wrapper
        .goods-slider__slider.slick-arrows(js-slider data-slick-slides='6' data-slick-arrows="true" data-slick-infinite="true")
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-6.jpg' srcset='img/card-6@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-1.jpg' srcset='img/card-1@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-4.jpg' srcset='img/card-4@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-5.jpg' srcset='img/card-5@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
          // card
          .slider-card
            a(href='#').slider-card__image
              img(src='img/card-6.jpg' srcset='img/card-6@2x.jpg 2x')
            
            a(href='#').slider-card__name Lora Cole
            .slider-card__category Куртка
            .slider-card__price 1 300 ₽
                  
                  

  .popup-dialog.popup-fast.mfp-hide#popup-fast
    .popup-fast__title Быстрый просмотр
    .popup-fast__content
      .card
        .row
          .col-md-6.col-lg-7

            // Gallery :: START
            .gallery(data-gallery)
              .gallery-slides(data-gallery-slides)
                .gallery-slides__item
                  figure.gallery-slides__image
                    img(src='img/card-1-big.jpg', data-zoom-image="img/card-1-big.jpg")
                .gallery-slides__item
                  figure.gallery-slides__image
                    img(src='img/zoom/small/image1.png', data-zoom-image="img/zoom/large/image1.jpg")
                .gallery-slides__item
                  figure.gallery-slides__image
                    img(src='img/zoom/small/image2.png', data-zoom-image="img/zoom/large/image2.jpg")
                .gallery-slides__item
                  figure.gallery-slides__image
                    img(src='img/zoom/small/image3.png', data-zoom-image="img/zoom/large/image3.jpg")
                .gallery-slides__item
                  figure.gallery-slides__image
                    img(src='img/zoom/small/image4.png', data-zoom-image="img/zoom/large/image4.jpg")

              .gallery-thumbs(data-gallery-thumbs)
                .gallery-thumbs__item
                  img(src='img/card-1-big.jpg')
                .gallery-thumbs__item
                  img(src='img/zoom/small/image1.png')
                .gallery-thumbs__item
                  img(src='img/zoom/small/image2.png')
                .gallery-thumbs__item
                  img(src='img/zoom/small/image3.png')
                .gallery-thumbs__item
                  img(src='img/zoom/small/image4.png')

            // Gallery :: END

          .col-md-6.col-lg-5


            h1.card__heading Парка "Сандрин"

            ul.card__info
              li <mark>Артикул:</mark> 12345 6789
              li <mark>Коллекция:</mark> <a href="#" class="link-dark">Осень-Зима 2017</a>

            .card__price
              p.card__price-text 11 999 <b>₽</b> <small>Розничная цена</small>
              a(href="#").card__price-link
                +icon('ico-commerce')
                u Показать оптовую цену


            .card__colors
              p.card__colors-text <mark>Цвет:</mark><span data-color-selected>Красно-бордовый</span>
              .card__colors-group

                .card__colors-item(data-color="Красно-бордовый")
                  img(src='img/card-1-big.jpg')

                .card__colors-item(data-color="Красный")
                  img(src='img/zoom/small/image1.png')

                .card__colors-item(data-color="Бордовый")
                  img(src='img/zoom/small/image2.png')

                .card__colors-item(data-color="")
                  img(src='img/zoom/small/image3.png')

                .card__colors-item(data-color="Черный")
                  img(src='img/zoom/small/image4.png')

            .card__size
              p.card__size-text Размер:
              a(href="#", data-mfp-src="#popup-sizes", js-popup).card__size-link
                +icon('ico-size')
                u Таблица размеров

              .card__size-group
                label.card__check
                  input(type="checkbox").card__check-input
                  span.card__check-btn 42
                label.card__check
                  input(type="checkbox").card__check-input
                  span.card__check-btn 44
                label.card__check
                  input(type="checkbox").card__check-input
                  span.card__check-btn 46
                label.card__check
                  input(type="checkbox").card__check-input
                  span.card__check-btn 48
                label.card__check
                  input(type="checkbox").card__check-input
                  span.card__check-btn 50
                label.card__check
                  input(type="checkbox").card__check-input
                  span.card__check-btn 52
                label.card__check
                  input(type="checkbox").card__check-input
                  span.card__check-btn 54
                label.card__check
                  input(type="checkbox").card__check-input
                  span.card__check-btn 56
                label.card__check
                  input(type="checkbox").card__check-input
                  span.card__check-btn 58
                label.card__check
                  input(type="checkbox").card__check-input
                  span.card__check-btn 60
                label.card__check
                  input(type="checkbox").card__check-input
                  span.card__check-btn 62
                label.card__check
                  input(type="checkbox").card__check-input
                  span.card__check-btn 64

            .card__ctrl
              a(href="#").btn.btn-primary
                span Добавить в корзину
              a(href="#").btn.btn-like
                u.btn-like-icon
                  +icon('ico-like')
                | Добавить в список<br>желаний

            dl.card__details
              dt Информация о товаре:
              dd
                p Ветровка "Сандрин" прямого силуэта с втачными рукавами. Застежка - на тесьму «молния» с ветрозащитной планкой на кнопках
                ul
                  li <mark>Вид застежки:</mark> Молния
                  li <mark>Длина изделия:</mark> по спинке: 64 см
                  li <mark>Длина рукава:</mark> Длинные
                  li <mark>Покрой:</mark> прямой
                  li <mark>Рисунок:</mark> без рисунка
                  li <mark>Фактура материала:</mark> гладкий
                  li <mark>Тип карманов:</mark> прорезные
                  li <mark>Утеплитель:</mark> без утепления
                  li <mark>Уход за вещами:</mark> химическая чистка разрешена
                  li <mark>Назначение:</mark> повседневная
                  li <mark>Опции капюшона:</mark> без капюшона
                  li <mark>Опции опушки:</mark> без опушки
                  li <mark>Сезон:</mark> демисезон

