---
title: Сертификаты
outClass: inner
---
extends shared/_layout
block content

  // BREADCRUMBS :: START
  .breadcrumbs
    .container
      a(href='homepage.html') Главная
      a(href='#') Текущий пункт
      
      .breadcrumbs__title Сертификаты
  
  // TEXT PAGE :: START
  .text-page
    .container
      .text-page__paragraph
        p При производстве всей нашей Продукции мы используем только сертифицированные материалы и комплектующие. Обязательную сертификацию также проходят и все готовые изделия нашей компании.
      
      .certificate-list(js-popup-gallery)
        a(href='img/certificate@2x.jpg').certificate-card
          .certificate-card__image
            img(src='img/certificate.jpg' srcset='img/certificate@2x.jpg 2x')
          .certificate-card__name Декларация о соответствии. Пальто, полупальто, куртка.
        a(href='img/certificate@2x.jpg').certificate-card
          .certificate-card__image
            img(src='img/certificate.jpg' srcset='img/certificate@2x.jpg 2x')
          .certificate-card__name Декларация о соответствии. Пальто, полупальто, куртка.
  
  include components/_discount
  +discount("discount--bottom")
