---
title: Благотворительность
outClass: inner
---
extends shared/_layout
block content

  // BREADCRUMBS :: START
  .breadcrumbs
    .container
      a(href='homepage.html') Главная
      a(href='#') Текущий пункт
      
      .breadcrumbs__title Благотворительность и спонсорская деятельность
  
  // TEXT PAGE :: START
  .text-page.text-page--no-pad
    .container
      .text-page__paragraph
        p Со дня своего основания наша компания осуществляет благотворительную деятельность в разных направлениях и областях.
        p Мы не только помогаем различных фондам, детским домам и частным лицам, но по мере возможностей участвуем в поддержке различных спортивных и туристических мероприятий.
    
      .charity-list(js-popup-gallery)
        a(href='img/charity@2x.jpg').charity-card
          .charity-card__image
            img(src='img/charity.jpg' srcset='img/charity@2x.jpg 2x')
        a(href='img/charity@2x.jpg').charity-card
          .charity-card__image
            img(src='img/charity.jpg' srcset='img/charity@2x.jpg 2x')
        a(href='img/charity@2x.jpg').charity-card
          .charity-card__image
            img(src='img/charity.jpg' srcset='img/charity@2x.jpg 2x')
        a(href='img/charity@2x.jpg').charity-card
          .charity-card__image
            img(src='img/charity.jpg' srcset='img/charity@2x.jpg 2x')
        a(href='img/charity@2x.jpg').charity-card
          .charity-card__image
            img(src='img/charity.jpg' srcset='img/charity@2x.jpg 2x')
        a(href='img/charity@2x.jpg').charity-card
          .charity-card__image
            img(src='img/charity.jpg' srcset='img/charity@2x.jpg 2x')

        a(href='img/charity@2x.jpg').charity-card
          .charity-card__image
            img(src='img/charity.jpg' srcset='img/charity@2x.jpg 2x')
        a(href='img/charity@2x.jpg').charity-card
          .charity-card__image
            img(src='img/charity.jpg' srcset='img/charity@2x.jpg 2x')
        a(href='img/charity@2x.jpg').charity-card
          .charity-card__image
            img(src='img/charity.jpg' srcset='img/charity@2x.jpg 2x')
        a(href='img/charity@2x.jpg').charity-card
          .charity-card__image
            img(src='img/charity.jpg' srcset='img/charity@2x.jpg 2x')
  
  include components/_discount
  +discount("discount--bottom")
