---
title: Каталог
outClass: inner
---
extends shared/_layout
block content
  
  // BREADCRUMBS :: START
  .breadcrumbs
    .container
      a(href='homepage.html') Главная
      a(href='#') Коллекции
    
      h1.breadcrumbs__title Коллекции
      
  
  // COLLECTIONS :: START
  .collections
    .container
      a(href='#').collections__card
        img.collections__card-bg(src='img/collectionBg-1.jpg' srcset='img/collectionBg-1@2x.jpg 2x')
        .collections__content
          .collections__name Коллекция
          .collections__big Осень-Зима’17
        .collections__tag Новинка
      // card
      a(href='#').collections__card
        img.collections__card-bg(src='img/collectionBg-2.jpg' srcset='img/collectionBg-2@2x.jpg 2x')
        .collections__content
          .collections__name Коллекция
          .collections__big Осень-Зима’17
      //card
      a(href='#').collections__card
        img.collections__card-bg(src='img/collectionBg-3.jpg' srcset='img/collectionBg-3@2x.jpg 2x')
        .collections__content
          .collections__name Коллекция
          .collections__big Осень-Зима’17
      //card
      a(href='#').collections__card
        img.collections__card-bg(src='img/collectionBg-1.jpg' srcset='img/collectionBg-1@2x.jpg 2x')
        .collections__content
          .collections__name Коллекция
          .collections__big Осень-Зима’17
        .collections__tag Новинка
      // card
      a(href='#').collections__card
        img.collections__card-bg(src='img/collectionBg-2.jpg' srcset='img/collectionBg-2@2x.jpg 2x')
        .collections__content
          .collections__name Коллекция
          .collections__big Осень-Зима’17
      //card
      a(href='#').collections__card
        img.collections__card-bg(src='img/collectionBg-3.jpg' srcset='img/collectionBg-3@2x.jpg 2x')
        .collections__content
          .collections__name Коллекция
          .collections__big Осень-Зима’17
