---
title: О нас
outClass: inner
---
extends shared/_layout
block content

  // BREADCRUMBS :: START
  .breadcrumbs
    .container
      a(href='homepage.html') Главная
      a(href='#') Текущий пункт
  
  // Typography :: START

  .typography
    .container
      h1 Доставка и Оплата
 
      h2.text-center Доставка по Москве:

      ol
        li Доставка по Москве осуществляется курьерской службой компании в течение 1-2 дней с момента оформления заказа:<br>• по рабочим дням с 18-00;<br>• по выходным и праздничным дням с 10-00.
        li Стоимость доставки по Москве в пределах МКАД БЕСПЛАТНА при сумме заказа от 5000 руб. <br>При меньшей сумме заказа стоимость доставки по Москве - 300 р. <br>Стоимость доставки за пределы МКАД - 300 р. (при сумме заказа меньше чем 5000 р.) + 30 р./км.
        li В бесплатную стоимость доставки входит 2 изделия пальтово-курточного ассортимента, либо 3 изделий трикотажного ассортимента. Доставка каждого последующего изделия увеличивает стоимость доставки на 50 р.
        li У Вас есть возможность примерить заказанные изделия. Вы имеете право отказаться от приобретения части или всего заказанного товара до момента передачи денег. Тогда вы оплачиваете только услуги по доставке.
        li
          | Оплата заказа и доставки производится наличными курьеру при получении заказа.<br>
          mark.attention
            +icon('ico-attention')
            | Обращаем Ваше внимание на то, что, если Вы откажетесь от покупки доставленного товара, при условии, что все позиции заказа выполнены, услуги по доставке должны быть оплачены.

      h2.text-center Самовывоз:

      ol
        li Самовывоз заказа <mark>без примерки</mark> может быть осуществлен c 9-00 до 18-00 из офиса компании по адресу г.Москва, ул.Авиамоторная, д.44, стр.1 по предварительной договоренности с менеджером компании.
        li Если вы хотите примерить изделия и получить дополнительную скидку в размере 20% на изделия из новых коллекций, то приходите к нам в часы обслуживания розничных покупателей.

      h2.text-center Доставка по России:

      ol
        li Доставка по России осуществляется компанией EMS Почта России или транспортными компаниями ("ПЭК", "Деловые линии" и др.) по договоренности с менеджером.
        li Стоимость доставки зависит от количества товаров и региона доставки, и рассчитывается индивидуально для каждого заказа.
        li Доставка товаров по России осуществляется на условиях полной предоплаты заказа и стоимости доставки.
        li Тарифы доставки с помощью EMS Почта России в Ваш регион Вы можете уточнить на сайте www.emspost.ru.

      h2.text-center Возврат товара:

      ol
        li Возврат и обмен товара возможен в течение 14 дней после покупки, если указанный товар не был в употреблении, сохранены его товарный вид, упаковка, фабричные ярлыки.

    
  // Typography :: End

  include components/_discount
  +discount("discount--bottom")
