---
title: Наша команда
outClass: inner
---
extends shared/_layout
block content

  // BREADCRUMBS :: START
  .breadcrumbs
    .container
      a(href='homepage.html') Главная
      a(href='#') Текущий пункт
      
      .breadcrumbs__title Наши сотрудники
  
  // TEXT PAGE :: START
  .text-page
    .container
      
      .personal-section
        .title Отдел продаж
        
        .row
          .col-sm-6.col-md-4.col-lg-3
            .personal-card
              .personal-card__image
                img(src='img/personal.jpg' srcset='img/personal@2x.jpg 2x')
              .personal-card__name Рената Васильева
              .personal-card__desc Руководитель отдела продаж, специалист по работе с ключевыми клиентами
              .personal-card__contacts
                a(href='#').personal-card__contact
                  +icon('ico-phone')
                  span (495) 647-8901 (доб.101)
                a(href='#').personal-card__contact
                  +icon('ico-mail')
                  span renata@diway.ru
          .col-sm-6.col-md-4.col-lg-3
            .personal-card
              .personal-card__image
                img(src='img/personal.jpg' srcset='img/personal@2x.jpg 2x')
              .personal-card__name Рената Васильева
              .personal-card__desc Руководитель отдела продаж, специалист по работе с ключевыми клиентами
              .personal-card__contacts
                a(href='#').personal-card__contact
                  +icon('ico-phone')
                  span (495) 647-8901 (доб.101)
                a(href='#').personal-card__contact
                  +icon('ico-mail')
                  span renata@diway.ru
                  
          .col-sm-6.col-md-4.col-lg-3
            .personal-card
              .personal-card__image
                img(src='img/personal.jpg' srcset='img/personal@2x.jpg 2x')
              .personal-card__name Рената Васильева
              .personal-card__desc Руководитель отдела продаж, специалист по работе с ключевыми клиентами
              .personal-card__contacts
                a(href='#').personal-card__contact
                  +icon('ico-phone')
                  span (495) 647-8901 (доб.101)
                a(href='#').personal-card__contact
                  +icon('ico-mail')
                  span renata@diway.ru
          .col-sm-6.col-md-4.col-lg-3
            .personal-card
              .personal-card__image
                img(src='img/personal.jpg' srcset='img/personal@2x.jpg 2x')
              .personal-card__name Рената Васильева
              .personal-card__desc Руководитель отдела продаж, специалист по работе с ключевыми клиентами
              .personal-card__contacts
                a(href='#').personal-card__contact
                  +icon('ico-phone')
                  span (495) 647-8901 (доб.101)
                a(href='#').personal-card__contact
                  +icon('ico-mail')
                  span renata@diway.ru
            
      // section
      .personal-section
        .title Отдел маркетинга
        
        .row
          .col-sm-6.col-md-4.col-lg-3
            .personal-card
              .personal-card__image
                img(src='img/personal.jpg' srcset='img/personal@2x.jpg 2x')
              .personal-card__name Рената Васильева
              .personal-card__desc Руководитель отдела продаж, специалист по работе с ключевыми клиентами
              .personal-card__contacts
                a(href='#').personal-card__contact
                  +icon('ico-phone')
                  span (495) 647-8901 (доб.101)
                a(href='#').personal-card__contact
                  +icon('ico-mail')
                  span renata@diway.ru
          .col-sm-6.col-md-4.col-lg-3
            .personal-card
              .personal-card__image
                img(src='img/personal.jpg' srcset='img/personal@2x.jpg 2x')
              .personal-card__name Рената Васильева
              .personal-card__desc Руководитель отдела продаж, специалист по работе с ключевыми клиентами
              .personal-card__contacts
                a(href='#').personal-card__contact
                  +icon('ico-phone')
                  span (495) 647-8901 (доб.101)
                a(href='#').personal-card__contact
                  +icon('ico-mail')
                  span renata@diway.ru
                            
  include components/_discount
  +discount("discount--bottom")
