
// PROMO
.home-promo
  margin: 100px 0
  &__wrapper
    margin-top: 60px

.promo-card
  display: flex
  flex-direction: column
  position: relative
  margin-bottom: 20px
  height: 280px
  background: #F3F5F7
  &--huge
    height: 580px
  &--bg-peach
    background: #FFEBD7
  &__image
    display: block
    font-size: 0
    position: absolute
    z-index: 2
    pointer-events: none
    transform-origin: 50% 100%
    transition: all .3s ease-out
    &--tr-bottom
      transform-origin: 100% 0%
  &__content
    flex: 1 1 auto
    display: flex
    flex-direction: column
    position: relative
    z-index: 2
    padding: 20px

  &:hover
    .promo-card__image
      transform: scale(1.03)

.promo-card
  &-discount
    &__name
      margin-top: auto
      font-size: 30px
      font-weight: 900
      letter-spacing: 0.96px
      color: $fontColor60
    &__short
      margin-top: 5px
      font-size: 86px
      font-weight: 900
      line-height: 1
      letter-spacing: 2.58px

  // regular
  &-regular
    text-align: right
    &__name
      font-size: 32px
      font-weight: 900
      letter-spacing: 0.96px
    &__short
      margin-top: 10px
      color: $fontColor60
      font-size: 16px
      letter-spacing: .48px
    &__cta
      margin-top: auto
      font-size: 16px
      letter-spacing: .48px

  // center
  &-center
    flex: 1 1 auto
    background: #F3F5F7
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    transition: background $transitionSpeed $ease
    &__front
      font-size: 66px
      font-weight: 900
      line-height: 1
      letter-spacing: 1.96px
    &__subject
      font-size: 32px
      font-weight: 900
      letter-spacing: .096px
    &__short
      margin-top: 10px
      color: $fontColor60
      font-size: 16px
      letter-spacing: .48px
    &:hover
      background: #FFEBD7

  &-huge
    text-align: right
    color: white
    background: #FF8F5B
    &__name
      font-size: 86px
      line-height: 1
      font-weight: 900
    &__percent
      margin-top: auto
      font-size: 378px
      line-height: 0
      font-weight: 900
      opacity: .4
      pointer-events: none
      transform: translate3d(60px,-65px,0)
      transition: transform $transitionSpeed ease-out
    &:hover
      .promo-card-huge__percent
        transform: translate3d(30px,-95px,0)


+r($wide)

  .promo-card
    &-discount
      &__name
        font-size: 25px
      &__short
        font-size: 76px

    // regular
    &-regular
      &__name
        font-size: 28px
      &__short
        margin-top: 5px
        font-size: 14px
      &__cta
        font-size: 14px

    // center
    &-center
      &__front
        font-size: 58px
        letter-spacing: 1.5px
      &__subject
        font-size: 28px
      &__short
        font-size: 14px

    &-huge
      &__name
        font-size: 70px
      &__percent
        font-size: 340px


+r($desktop)
  .home-promo
    margin: 80px 0

  .promo-card
    height: 240px
    &--huge
      height: 500px

    &--1
      img
        height: 200px
    &--2
      img
        height: 258px
    &--4
      .promo-card__image
        left: 5px !important
      img
        height: 530px

    &-discount
      &__name
        font-size: 23px
      &__short
        font-size: 70px

    // regular
    &-regular
      &__name
        font-size: 28px
      &__short
        margin-top: 5px
        font-size: 14px
      &__cta
        font-size: 14px

    // center
    &-center
      &__front
        font-size: 58px
        letter-spacing: 1.5px
      &__subject
        font-size: 28px
      &__short
        font-size: 14px

    &-huge
      &__name
        font-size: 70px
      &__percent
        font-size: 340px

+r($tablet)
  .home-promo
    margin: 60px 0
    &__wrapper
      margin-top: 30px

  .promo-card
    max-width: 400px
    margin-left: auto
    margin-right: auto
