.ico-adv-1 {
  width: 1.07em;
  height: 1em;
  fill: #000;
}
.ico-adv-2 {
  width: 1.14em;
  height: 1em;
  fill: #000;
}
.ico-adv-3 {
  width: 1.36em;
  height: 1em;
  fill: #000;
}
.ico-adv-4 {
  width: 0.9em;
  height: 1em;
  fill: #000;
}
.ico-adv-5 {
  width: 1.22em;
  height: 1em;
  fill: #000;
}
.ico-attention {
  width: 1.08em;
  height: 1em;
  fill: #FF8F5B;
}
.ico-cart {
  width: 1.03em;
  height: 1em;
  fill: #FFF;
}
.ico-check {
  width: 1.17em;
  height: 1em;
  fill: none;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-coat {
  width: 0.9em;
  height: 1em;
  fill: #000;
}
.ico-commerce {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-delete {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-delivery-truck {
  width: 1.22em;
  height: 1em;
  fill: #000;
}
.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-eye {
  width: 1.69em;
  height: 1em;
  fill: none;
}
.ico-handshake {
  width: 1.36em;
  height: 1em;
  fill: #000;
}
.ico-like {
  width: 1.2em;
  height: 1em;
  fill: #FFF;
}
.ico-location {
  width: 0.71em;
  height: 1em;
  fill: #FF8F5B;
}
.ico-logo {
  width: 3.07em;
  height: 1em;
  fill: #FFF;
}
.ico-logout {
  width: 1.38em;
  height: 1em;
  fill: #000;
}
.ico-mail {
  width: 1.14em;
  height: 1em;
  fill: #FF8F5B;
}
.ico-phone {
  width: 1em;
  height: 1em;
  fill: #FF8F5B;
}
.ico-plus {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-rain {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-search {
  width: 0.94em;
  height: 1em;
  fill: none;
}
.ico-sewing-machine {
  width: 1.07em;
  height: 1em;
  fill: #000;
}
.ico-size {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-snow {
  width: 0.9em;
  height: 1em;
  fill: #C1C1C1;
}
.ico-social-fb {
  width: 0.53em;
  height: 1em;
  fill: #3B5998;
}
.ico-social-ok {
  width: 0.61em;
  height: 1em;
  fill: #ED812B;
}
.ico-social-vk {
  width: 1.5em;
  height: 1em;
  fill: #45668E;
}
.ico-sort {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-sun {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-wallet {
  width: 1.14em;
  height: 1em;
  fill: #000;
}
.ico-zoom {
  width: 0.94em;
  height: 1em;
  fill: #000;
}
