mixin discount(modClass)
  // DISCOUNT :: START
  .discount(class!=modClass)
    .container
      .row.align-items-center
        .col-sm-6.col-md-4
          .discount__percent -20%
        .col-sm-6.col-md-4
          .discount__words Для всех зарегистрированных <br>в социальных сетях
        .col-md-4.align-self-stretch
          .discount__socials
            a(href='#').discount__social.discount__social--vk
              +icon('ico-social-vk')
            a(href='#').discount__social.discount__social--fb
              +icon('ico-social-fb')
            a(href='#').discount__social.discount__social--ok
              +icon('ico-social-ok')
          .discount__image
            img(src='img/discountBg.png' srcset='img/discountBg@2x.png 2x')
