// FOOTER :: START
footer.footer(js-reveal-footer)
  .footer__top
    .container
      .row
        .col-sm-6.col-lg-3
          .footer__head О компании
          .footer__links
            a(href='#') О компании	
            a(href='#') Наши сотрудники
            a(href='#') Дипломы и награды
            a(href='#') Благотворительность
            a(href='#') Обратная связь
        .col-sm-6.col-lg-3
          .footer__head Полезная <br>информация
          .footer__links
            a(href='#') Размерная сетка
            a(href='#') Используемые материалы 
            a(href='#') Уход за одеждой.
        .col-sm-6.col-lg-3
          .footer__head Новости/<br>Акции
          .footer__links
            a(href='#') Новости
            a(href='#') Акции
        .col-sm-6.col-lg-3
          .footer__head Магазины
    
  .footer__bottom
    .container
      .row
        .col-md-12.col-lg-6
          .row
            .col-sm-6.col-lg-12
              .footer__head Контакты
              .footer__contact-row
                .footer__icon
                  +icon('ico-location')
                span 111024, г. Москва, ул.Авиамоторная, д.44, стр.1 <br> (м.Авиамоторная) (территория бывшего  таксомоторного парка).
              .footer__contact-row
                .footer__icon
                  +icon('ico-phone')
                span <a href="tel:+74956478901">+7 (495) 647-89-01</a> (многоканальный), <br> <a href="tel:+74957960605">+7 (495) 796-06-05</a>
              .footer__contact-row
                .footer__icon
                  +icon('ico-mail')
                span <a href="mailto:sales@diway.ru">sales@diway.ru</a>
            
            .col-sm-6.col-lg-12
              .footer__head Мы в социальных сетях
              
              a(href="#" target="_blank").footer__social
                .footer__icon
                  +icon('ico-social-vk')
                span Vkontakte
                
              a(href="#" target="_blank").footer__social
                .footer__icon
                  +icon('ico-social-fb')
                span Facebook  
                
              a(href="#" target="_blank").footer__social
                .footer__icon
                  +icon('ico-social-ok')
                span Odnoklassniki  

              a(href="#" target="_blank").footer__social
                .footer__icon
                  i.icon.icon-social-insta
                span Instagram  
              
              .footer__copywrite Copyright © 2017 www.diway.ru

              
          
            
        .col-md-6.col-grow-child
          .footer__map#footerMap
        

          
// FOOTER :: END


.popup-dialog.popup-auth.mfp-hide#popup-auth
  .popup-auth__content
    .lk__heading Вход
    form.lk__form.popup-auth__form
      .ui-group
        label.ui-label Email
        input(type="email", name="email", placeholder="Введите email").ui-input
      .ui-group
        label.ui-label Пароль
        input(type="password", name="password", placeholder="Введите пароль").ui-input
      .ui-group
        .popup-auth__link
          a(href="#") Забыли пароль?
      .popup-auth__submit
        .popup-auth__submit-item
          button.btn.btn-primary.btn-primary_gray
            span Регистрация
        .popup-auth__submit-item
          button.btn.btn-primary
            span Войти
